﻿
<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>Пользовательское соглашение</span></b></p>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;text-indent:35.45pt;line-height:normal'><b><span
style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;</span></b></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>Настоящее пользовательское соглашение (далее -<span
class=apple-converted-space>&nbsp;</span><strong><span style='font-weight:normal'>Соглашение</span></strong>)
является документом, представляющим собой публичную оферту в соответствии со
статьей 437 Гражданского кодекса Российской Федерации, и содержит правила и
условия предоставления и использования услуг (сервисов) приложения «<span
lang=EN-US>Be</span><span lang=EN-US> </span><span lang=EN-US>Clean</span>»
(далее – Приложение).</p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>&nbsp;</p>

<h2 align=center style='margin-top:0cm;text-align:center;line-height:normal;
vertical-align:baseline'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:windowtext'>1. Статус Соглашения.</span></h2>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>1.1. Настоящее Соглашение определяет правила и условия
предоставления и использования услуг принципалов, от имени и за счет которых
действует администратор Приложения ООО «Би Клин». Принципалы, от имени и за
счет которых при использовании Приложения действует ООО «Би Клин», в дальнейшем
именуются «Автомойки». </p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>1.2. Пользователь обязан полностью ознакомиться с
настоящим Соглашением до момента регистрации в Приложении. Регистрация
Пользователя в Приложении означает полное и безоговорочное принятие
Пользователем настоящего Соглашения в соответствии со статьей 438 Гражданского
кодекса Российской Федерации. В случае несогласия Пользователя с какими-либо из
положений Соглашения, Пользователь не вправе использовать Приложение.</p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>1.3. Соглашение вступает в силу с момента нажатия
Пользователем кнопки «зарегистрироваться» в Приложении. </p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>1.4. Настоящее Соглашение может быть изменено и/или
дополнено ООО «Би Клин» в одностороннем порядке без какого-либо специального
уведомления Пользователя. Настоящее Соглашение является открытым и
общедоступным документом. Действующая редакция Соглашения располагается  на
сайте <span lang=EN-US>www</span>.<span lang=EN-US>beclean</span>.<span
lang=EN-US>me</span>. ООО «Би Клин» рекомендует Пользователям регулярно
проверять положения настоящего Соглашения на предмет их изменения и/или
дополнения. Продолжение использования Приложения Пользователем после внесения
изменений и/или дополнений в настоящее Соглашение означает принятие и согласие
Пользователя с такими изменениями и/или дополнениями. Пользователь вправе
отказаться от принятия вышеуказанных изменений и/или дополнений, что означает
отказ Пользователя от использования Приложения.</p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>&nbsp;</p>

<p align=center style='margin:0cm;margin-bottom:.0001pt;text-align:center;
text-indent:35.45pt;vertical-align:baseline'><b>2. Основные условия Соглашения.</b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:35.45pt;line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>2.1. Пользователь, выбравший в процессе
использования Приложения любую Автомойку, предоставляющую необходимый
Пользователю вид услуги, и указавший в Приложении желаемое время оказания услуги,
а также данные своего транспортного средства: государственный регистрационный
номер и тип автомобиля (далее – Заказ), имеет преимущественное право получить
услугу, оказываемую Автомойкой (далее – Услуга), перед лицами, ожидающими
оказание Услуги непосредственно перед Автомойкой (при условии, что на момент
прибытия Пользователя к месту нахождения Автомойки, таким лицам еще на начато
оказание Услуг). </span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:35.45pt;line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>2.2. ООО «Би Клин», получив информацию,
указанную пользователем при Заказе (далее – Данные), обязуется предоставить
Пользователю точную стоимость выбранной им Услуги и передать Данные выбранной
им Автомойке. </span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:35.45pt;line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>2.3. Условия отнесения транспортного
средства Пользователя к конкретному типу автомобиля указаны на сайте </span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif"'>www</span><span
style='font-size:12.0pt;font-family:"Times New Roman","serif"'>.</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif"'>beclean</span><span
style='font-size:12.0pt;font-family:"Times New Roman","serif"'>.</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif"'>me</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif"'> </span><span
style='font-size:12.0pt;font-family:"Times New Roman","serif"'>и в Приложении.</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:35.45pt;line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>2.4. В том случае, если тип автомобиля
Пользователя, указанный им в Данных, отличается от типа автомобиля, которому
реально соответствует транспортное средство Пользователя, согласно условий,
указанных на сайте </span><span lang=EN-US style='font-size:12.0pt;font-family:
"Times New Roman","serif"'>www</span><span style='font-size:12.0pt;font-family:
"Times New Roman","serif"'>.</span><span lang=EN-US style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>beclean</span><span style='font-size:
12.0pt;font-family:"Times New Roman","serif"'>.</span><span lang=EN-US
style='font-size:12.0pt;font-family:"Times New Roman","serif"'>me</span><span
lang=EN-US style='font-size:12.0pt;font-family:"Times New Roman","serif"'> </span><span
style='font-size:12.0pt;font-family:"Times New Roman","serif"'>и в Приложении, Автомойка
имеет право отказать Пользователю в оказании Услуги по цене, указанной Пользователю
при Заказе, и предложить оказание Услуги по цене, соответствующей стоимости
Услуги для типа автомобиля Пользователя, которому оно реально соответствует.</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:35.45pt;line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>2.5. Пользователь имеет право отказаться
от оказания Услуги (отменить Заказ) за 30 (тридцать) минут до ее начала.</span></p>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'><span style='font-size:12.0pt;font-family:
"Times New Roman","serif"'>&nbsp;</span></p>

<p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
text-align:center;line-height:normal'><b><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>3. Ответственность.</span></b></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:35.45pt;line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>3.1. Права и обязанности, связанные с
оказанием Услуги, возникают непосредственно у Автомойки, в соответствии со ст.
1005 Гражданского кодекса Российской Федерации как у принципала, агент которого
совершает сделку от его имени.</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:35.45pt;line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>3.2. Ни при каких обстоятельствах ООО
«Би Клин» не отвечает за качество, и своевременность оказанных Автомойками
Услуг. Аналогично ООО «Би Клин» не несет ответственности в случае отказа Автомойки
от оказания Услуги, в том числе в соответствии с п. 2.4. настоящего Соглашения.</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:35.45pt;line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>3.3. ООО «Би Клин» настоятельно просит направлять
уведомления путем ____________________ обо всех случаях отказа Автомойки от
оказания Услуги или оказания Услуги ненадлежащего качества, поскольку данный
факт может являться основанием для исключения такой Автомойки из Приложения.</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;text-indent:35.45pt;line-height:normal'><span style='font-size:12.0pt;
font-family:"Times New Roman","serif"'>3.4. В том случае, если Пользователь,
осуществивший Заказ, три раза подряд не воспользовался Услугой выбранной им
Автомойки, ООО «Би Клин» имеет право отказать Пользователю в использовании
Приложения в течение ____ (_________) дней (Блокировка аккаунта).</span></p>

<p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;background:
white'><span style='font-size:12.0pt;font-family:"Times New Roman","serif";
color:#333333'>&nbsp;</span></p>

<p align=center style='margin:0cm;margin-bottom:.0001pt;text-align:center;
text-indent:35.45pt;vertical-align:baseline'><b>4. Заключительные положения.</b></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>4.1. Принимая настоящее Соглашение Пользователь
подтверждает свое согласие на обработку его персональных данных, предоставленных
при регистрации в Приложении. Обработка персональных данных Пользователя
осуществляется в соответствии с законодательством Российской Федерации. ООО «Би
Клин» обрабатывает персональные данные Пользователя в целях предоставления
Пользователю Услуг и принимает все необходимые меры для защиты персональных
данных Пользователя от неправомерного доступа, изменения, раскрытия или
уничтожения. </p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>4.2. Настоящее Соглашение регулируется и толкуется в
соответствии с законодательством Российской Федерации. Вопросы, не
урегулированные Соглашением, подлежат разрешению в соответствии с
законодательством Российской Федерации.</p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>4.3. В случае возникновения любых споров или
разногласий, связанных с исполнением настоящего Соглашения, Пользователь и ООО
«Би Клин» приложат все усилия для их разрешения путем проведения переговоров
между ними. В случае, если споры не будут разрешены путем переговоров, споры
подлежат разрешению в порядке, установленном действующим законодательством
Российской Федерации, по месту регистрации ООО «Би Клин».</p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.45pt;
vertical-align:baseline'>4.4. Если по тем или иным причинам одно или несколько
положений настоящего Соглашения будут признаны недействительными или не
имеющими юридической силы, это не влечет недействительность или неприменимость
остальных положений Соглашения.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>